<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$name?></title>
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>

<header>
	<h1><?=$name?></h1>
</header>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="info/">Info</a></li>
		<li><a href="nieuws/">Nieuws</a></li>
	</ul>
</nav>

<div class="content">
<?=$content?> 
</div>

<footer>
<?=$executiontime?> 
</footer>

</body>
</html>
