<!DOCTYPE html>
<html lang="EN">
<head>
	<title>The KK Initiative</title>
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap" rel="stylesheet"> 
</head>
<body>

<header>
    <div>
        <h1>The KK Initiative</h1>
    </div>
	<div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="blog">Blog</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <a class="button-small" href="dashboard">login</a>
    </div>
</header>

<main>
    <div class="blockrow">
        <div>
            <img src="img/home.jpg" alt="">
        </div>
        <div class="blocktext">
            <?=$content?>
        </div>
    </div>
    
</main>

<footer>
    <p>&copy; 2020 | <?=$executiontime?></p>
</footer>

</body>
</html>
