<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Login | The KK Initiative</title>
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap" rel="stylesheet"> 
</head>
<body>

<div class="login">
    <form method="POST">
        <h2>Login</h2><br>
        <form method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <button type="submit" class="button-small">Save</button>
        <form>
    </form>
</div>

</body>
</html>
