<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$title?></title>
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css?admin" type="text/css">
	<link rel="stylesheet" href="css/fonts.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet"> 
</head>
<body>

<header>
	<h1><?=$title?></h1>
</header>

<div class="content">

	<div class="screenleft">
		<nav class="contentbox">
			<ul>
				<li><a href="/"><span class="icon-home"></span>Home</a></li>
				<li><a href="organisatie/"><span class="icon-structure"></span>Organisatie</a></li>
				<li><a href="relatiebeheer/"><span class="icon-crm"></span>Relatiebeheer</a></li>
				<li><a href="mailbox/"><span class="icon-mail"></span>Mailbox</a></li>
				<li><a href="tickets/"><span class="icon-tickets"></span>Tickets</a></li>
				<li><a href="/"><span class="icon-tasks"></span>Taken</a></li>
				<li><a href="/"><span class="icon-calendar"></span>Agenda</a></li>
				<li><a href="/"><span class="icon-chat"></span>Berichten</a></li>
				<li><a href="/"><span class="icon-settings"></span>Instellingen</a></li>
				<li><a href="/"><span class="icon-logout"></span>Uitloggen</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="screenright">
		<div class="contentbox">
			<?=$content?>
		</div>
	</div>

</div>

<footer>
<?=$executiontime?>
</footer>

</body>
</html>
