<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$name?></title>
	<base href="<?=$base?>" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<header>
	<h1><?=$name?></h1>
</header>
<form class="smallform" method="POST" action="mailbox/">
	<?=$content?> 
	<br>
	<input type="text" name="username" placeholder="Gebruikersnaam">
	<input type="password" name="password" placeholder="Wachtwoord">
	<button class="submit" type="submit">Inloggen</button>
</form>
<footer>
<?=$executiontime?>
</footer>
</body>
</html>
