<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$name?></title>
	<base href="<?=$base?>" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/fonts.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet"> 
</head>
<body>

<header>
	<h1><?=$name?></h1>
</header>

<div class="content">

	<div class="screenleft">
		<nav class="contentbox">
			<ul>
				<li><a href="/"><span class="icon-home"></span>Home</a></li>
				<li><a href="organisatie/"><span class="icon-structure"></span>Organisatie</a></li>
				<li><a href="relatiebeheer/"><span class="icon-crm"></span>Relatiebeheer</a></li>
				<li><a href="mailbox/"><span class="icon-mail"></span>Mailbox</a></li>
				<li><a href="tickets/"><span class="icon-tickets"></span>Tickets</a></li>
				<li><a href="/"><span class="icon-tasks"></span>Taken</a></li>
				<li><a href="/"><span class="icon-calendar"></span>Agenda</a></li>
				<li><a href="/"><span class="icon-chat"></span>Berichten</a></li>
				<li><a href="/"><span class="icon-settings"></span>Instellingen</a></li>
				<li><a href="/"><span class="icon-logout"></span>Uitloggen</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="screenright">

		<div class="contentbox">
			<h2>Relatiebeheer</h2> 
			<ul class="flexlist" id="sortable">
				<li id="list1" data-id="1" style="background:#9b59b6">Management</li>
				<li id="list2" data-id="2" style="background:#e74c3c">Sales</li>
				<li id="list3" data-id="3" style="background:#e67e22">Development</li>
				<li id="list4" data-id="4" style="background:#3498db">Helpdesk</li>
			</ul>
		</div>
		
		<div class="contentbox">
			<h2>Vrij Personeel</h2>
			<div id="personel" ondrop="drop(event)" ondragover="allowDrop(event)">
				<img class="mugshot" src="img/pic.gif" alt="x" draggable="true" ondragstart="drag(event)" id="drag1">
				<img class="mugshot" src="img/pic.gif" alt="x" draggable="true" ondragstart="drag(event)" id="drag2">
				<img class="mugshot" src="img/pic.gif" alt="x" draggable="true" ondragstart="drag(event)" id="drag3">
				<img class="mugshot" src="img/pic.gif" alt="x" draggable="true" ondragstart="drag(event)" id="drag4">
				<img class="mugshot" src="img/pic.gif" alt="x" draggable="true" ondragstart="drag(event)" id="drag5">
				<img class="mugshot" src="img/pic.gif" alt="x" draggable="true" ondragstart="drag(event)" id="drag6">
			</div>
		</div>
	</div>

</div>

<footer>
<?=$executiontime?>
</footer>
<script src="/js/Sortable.min.js"></script>
<script>
var sort = Sortable.create(document.getElementById("sortable"),{ group:'one',animation: 150});
var sort = Sortable.create(document.getElementById("list1"),{ group:'one',animation: 150});
var sort = Sortable.create(document.getElementById("list2"),{ group:'one',animation: 150});
var sort = Sortable.create(document.getElementById("list3"),{ group:'one',animation: 150});

var sort = Sortable.create(document.getElementById("personel"),{ group:'one',animation: 150});
</script>
</body>
</html>
