<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$title?></title>
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css?admin" type="text/css">
	<link rel="stylesheet" href="css/fonts.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet"> 
</head>
<body>

<header>
	<h1><?=$title?></h1>
</header>

<div class="content">

	<div class="screenleft">
		<nav class="contentbox">
			<ul>
				<li><a href="dashboard"><span class="icon-home"></span>Home</a></li>
				<li><a href="dashboard/cms"><span class="icon-crm"></span>CMS</a></li>
				<li><a href="dashboard/blog"><span class="icon-settings"></span>Settings</a></li>
				<li><a href="/"><span class="icon-logout"></span>Logout</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="screenright">
		<div class="contentbox">
			<h2>Pages</h2>
      <?php foreach($list as $page):?>
        <a href="dashboard/cms/<?=$page['pageid']?>"><?=$page['title']?></a>
      <?php endforeach;?>
		</div>
	</div>

</div>

<footer>
<?=$executiontime?>
</footer>

</body>
</html>
