/*************************/
/*      GENERAL CSS      */
/*************************/

*{
  margin:0;
  padding:0;
  border:0;
  box-sizing:border-box;
}

html{
  font-family:Muli,Arial,sans-serif;
  background:#F2F2F2;
}

header{
  background:#008FD3;
}

h1{
  color:#fff;
  padding:10px;
}

h2{
  color:#f18212;
  padding:6px 0;
}

a{
  text-decoration:none;
}

.bold{
  font-weight:bold;
}

.smalltext{
  font-size:10px;
  color:#777;
}

.screenleft,.screenright{
  display:inline-block;
  vertical-align:top;
}

.screenleft{
  width:280px;
}

.screenright{
  width:calc(100% - 290px);
}

.contentbox{
  width:97%;
  margin:20px auto;
  background:#fff;
  padding:20px;
  border:1px solid #eee;
  box-shadow:5px 5px 9px 0 rgba(0,0,0,0.05);
}

footer{
  text-align:center;
}

.flexrow{
  display:flex;
  flex-wrap:wrap;
}

#flexrow{
  display:-ms-flexbox;
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
}

.icon-green,.icon-orange,.icon-red{
  color:#fff;
  font-size:14px;
  padding:3px 4px;
  border-radius:50%;
}

/**************************/
/*       COLORS CSS       */
/**************************/

.icon-green{  background:#07dd00; }
.icon-orange{ background:#F18212; }
.icon-red{    background:#f00;    }

.color-turqoise{  background:#1abc9c; }
.color-emerald{   background:#2ecc71; }
.color-river{     background:#3498db; }
.color-amethyst{  background:#9b59b6; }
.color-sunflower{ background:#f1c40f; }
.color-carrot{    background:#e67e22; }
.color-alizarin{  background:#e74c3c; }

/*************************/
/*        NAV CSS        */
/*************************/

nav li{
  list-style-type:none;
  border:1px solid #eee;
  margin:2px 0;
  transition:border 300ms ease-in-out;
}

nav li:hover{
  border:1px solid #F18212;
}

nav a{
  display:block;
  width:100%;
  font-size:18px;
  color:#008FD3;
  line-height:36px;
  transition:color 300ms ease-in-out;
}

nav a:hover{
  color:#F18212;
}

nav span{
  margin:0 30px;
}

.buttonrow{
  display:-ms-flexbox;
  display:flex;
  flex-wrap:wrap;
  list-style-type:none;
  margin:20px;
}

.buttonrow a{ color:#fff; }
.buttonrow span{ margin-right:10px; }
.buttonrow li{
  background:#008FD3;
  color:#fff;
  font-size:18px;
  transition:background 200ms ease-in-out;
  -ms-flex-grow:1;
  flex-grow:1;
  max-width:250px;
  margin:4px;
  padding:4px;
  border-radius:6px;
  text-align:center;
  line-height:40px;
  cursor:pointer;
}

.buttonrow li:hover{
  background:#003c59;
}

/**************************/
/*        FORM CSS        */
/**************************/

.smallform{
  width:96%;
  max-width:500px;
  margin:10% auto;
  background:#fff;
  padding:20px;
  border:1px solid #eee;
  box-shadow:5px 5px 9px 0 rgba(0,0,0,0.05);
}

input{
  width:100%;
  padding:10px 4px;
  margin-bottom:12px;
  border:1px solid #ddd;
  transition:border 200ms ease-in-out;
}

input:hover{
  border:1px solid #3b9dcc;
}

.submit,#submit{
  padding:8px 17%;
  background:#008FD3;
  color:#fff;
  font-size:18px;
  transition:background 200ms ease-in-out;
  cursor:pointer;
}

.submit:hover,#submit:hover{
  background:#003c59;
}

/*************************/
/*       TABLE CSS       */
/*************************/

table{
  width:100%;
  font-size:12px;
  border-collapse:collapse;
}

tr{
  margin:4px;
  cursor:pointer;
  border-bottom:1px solid #bbdded;
}

tr:hover{
  background:#f5f5f5;
}

td{
  padding:10px 6px;
}

.maillist-new{
  padding:1px 6px;
  background:green;
  border-radius:50%;
}

/*********************************/
/*            CRM CSS            */
/*********************************/

.flexlist{
  display:-ms-flexbox;
  display:flex;
  flex-wrap:wrap;
  list-style-type:none;
}

.flexlist li{
  -ms-flex-grow:1;
  flex-grow:1;
  min-width:200px;
  margin:4px;
  padding:6px;
  border-radius:6px;
  text-align:center;
  line-height:80px;
  cursor:grab;
}

/**********************************/
/*        ORGANISATION CSS        */
/**********************************/

.orgtitle{
  background:#fff;
  line-height:32px;
  border-radius:16px;
}

.box{
  -ms-flex-grow:1;
  flex-grow:1;
  background:#eee;
  margin:10px;
  padding:10px;
  text-align:center;
  cursor:grab;
  border-radius:6px;
  
}

.box .box{
  border:1px solid #fff;
}

.groupdrop,.peopledrop{
  min-height:10px;
  padding:10px;
  display:flex;
  align-items:flex-start;
  transition:all 300ms ease-in-out;
}

#personel{
  min-height:100px;
  border:1px solid #ccc;
}

.mugshot{
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:50%;
  border:3px solid #888;
  margin:6px;
}
/*******************************/
/*         OVERLAY CSS         */
/*******************************/

#overlay{
  position:fixed;
  display:none;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  background:rgba(100,100,100,.6);
  z-index:99;
}

#popup{
  position:absolute;
  overflow:hidden;
  width:98%;
  min-height:100px;
  max-width:500px;
  background:#fff;
  left:0px;
  right:0px;
  margin:auto;
  margin-top:9%;
  border:1px solid #999;
  border-radius:10px;
}

#popup form{
  margin:20px;
}

.colorselector label{
  display:inline-block;
}

.colorselector input{
  visibility:hidden;
  position:absolute;
}

.colorbox{
  width:53px;
  height:53px;
  border:3px solid #bbb;
  transition:all 300ms ease-in-out; 
  margin:5px 0;
}

.colorselector input:checked ~ .colorbox{
  border:3px solid#555;
}

.colorselector input:hover ~ .colorbox{
  border:3px solid#00f;
}
/********************************/
/*        Responsive CSS        */
/********************************/

@media all and (max-width: 1000px){
  table, thead, tbody, th, td, tr { 
    display: block; 
  }

  td { 
		border: none;
		position: relative; 
	}
  
  .tablerow{
    display:inline-block;
    margin-right:10px;
  }
  
  .tablefloat{
    font-size:10px;
    float:right;
    top:0;
  }
}
