<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$name?></title>
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/fonts.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
	<style>
		#sortable2 li{
			display:inline-block;
			width:200px;
			height:200px;
			background:#ccc;
			margin:10px;
		}
	</style>
</head>
<body>
<header>
	<h1><?=$name?></h1>
</header>
<div class="content">
	<div class="screenleft">
		<nav class="contentbox">
			<ul>
				<li><a href="/"><span class="icon-home"></span>Home</a></li>
				<li><a href="organisatie/"><span class="icon-structure"></span>Organisatie</a></li>
				<li><a href="relatiebeheer/"><span class="icon-crm"></span>Relatiebeheer</a></li>
				<li><a href="mailbox/"><span class="icon-mail"></span>Mailbox</a></li>
				<li><a href="tickets/"><span class="icon-tickets"></span>Tickets</a></li>
				<li><a href="/"><span class="icon-tasks"></span>Taken</a></li>
				<li><a href="/"><span class="icon-calendar"></span>Agenda</a></li>
				<li><a href="/"><span class="icon-chat"></span>Berichten</a></li>
				<li><a href="/"><span class="icon-settings"></span>Instellingen</a></li>
				<li><a href="/"><span class="icon-logout"></span>Uitloggen</a></li>
			</ul>
		</nav>
	</div>
	<div class="screenright">
		<ul class="buttonrow">
			<li id="addfunnel"><span class="icon-funnel"></span>Funnel Item Toevoegen</li>
		</ul>
		<div class="contentbox">
			<h2><?=$name?></h2>
			<ul class="flexlist" id="sortable">
<?php foreach($funnel as $item){
echo '				<li data-id="'.$item['funnelid'].'" style="background:#'.$item['funnelitemcolor'].'">'.$item['funnelitemname'].'</li>'.PHP_EOL;
}?>
			</ul>
		</div>
	</div>
</div>
<footer>
<?=$executiontime?> 
</footer>
<div id="overlay">
	<div id="popup">
		<form id="popupform">
			<h2>Nieuw Funnel Onderdeel</h2>
			<label>Naam<input type="text" data-color="#FF0000" name="naam"></label>
			<p>Kleur</p>
			<div class="colorselector">
				<label><input type="radio" name="color" value="9b59b6"><div class="colorbox" style="background:#9b59b6"></div></label>
				<label><input type="radio" name="color" value="e74c3c"><div class="colorbox" style="background:#e74c3c"></div></label>
				<label><input type="radio" name="color" value="e67e22"><div class="colorbox" style="background:#e67e22"></div></label>
				<label><input type="radio" name="color" value="f1c40f"><div class="colorbox" style="background:#f1c40f"></div></label>
				<label><input type="radio" name="color" value="cde73c"><div class="colorbox" style="background:#cde73c"></div></label>
				<label><input type="radio" name="color" value="2ecc71"><div class="colorbox" style="background:#2ecc71"></div></label>
				<label><input type="radio" name="color" value="1abc9c"><div class="colorbox" style="background:#1abc9c"></div></label>
				<label><input type="radio" name="color" value="3498db"><div class="colorbox" style="background:#3498db"></div></label>
			</div>
			<br>
			<button id="submit" type="button">Opslaan</button>
			<button class="submit" type="reset" onclick="window.location.reload()">Annuleer</button>
		</form>
	</div>
</div>
<script src="/js/Sortable.min.js"></script>
<script>
var sort = Sortable.create(document.getElementById("sortable"),{
  animation: 150, onUpdate: function (evt){
	var el = document.getElementById("sortable").getElementsByTagName("LI");
	var post = new Array();
    for(var i=0; i<el.length; i++){post[i] = {id:el[i].dataset.id,order:i+1};}
	fetch("/api/funnel/sales/reorder/",{method:"POST",headers:{'Accept':'application/json','Content-Type':'application/json'},body:JSON.stringify(post)});
  }
});
document.getElementById("submit").onclick = function(){ fetch("/api/funnel/sales/create/",{ method:'POST', body:new URLSearchParams(new FormData(document.getElementById("popupform"))) } ).then(function(r){location.reload()}) };
document.getElementById("addfunnel").onclick = function(){document.getElementById("overlay").style.display = 'block'};
</script>
</body>
</html>
