/*************************/
/*      GENERAL CSS      */
/*************************/

*{
  margin:0;
  padding:0;
  border:0;
  box-sizing:border-box;
}

html{
  font-family:Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  background:#ecf0f1;
}

a{
  text-decoration:none;
  color:#000;
}
