/*************************/
/*      GENERAL CSS      */
/*************************/

*{
  margin:0;
  padding:0;
  border:0;
  box-sizing:border-box;
}

html{
  font-family: 'Nanum Myeongjo', serif;
  background:#fafafa;
  color:#444;
  text-align:center;
}

p{
  line-height:26px;
  margin-bottom:16px;
  font-size:18px;
}

header{
  width:95%;
	max-width:800px;
  margin:0 auto;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 100px;
}

div{
	width:95%;
	max-width:700px;
	margin:50px auto;
	text-align:left;
	line-height:24px;
}

/*************************/
/*      GENERAL CSS      */
/*************************/

nav li{
  display:inline-block;
  margin:0 20px;
}